* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Proxima nova";
  src: url(fonts/Proxima\ Nova\ Font.otf);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  position: relative;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
nav {
  width: 100%;
  height: 8.3rem;
  background: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation-buttons {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.nav-menu-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.close-menu-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.hidden {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.container {
  width: 99rem;
  margin: 0 auto;
}
.nav-logo {
  margin-left: 2rem;
  font-size: 2rem;
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2rem;
}
.nav-nav {
  font-size: 1.3rem;
  font-family: "proxima nova", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.nav-nav a {
  margin-right: 2rem;
}
.nav-btn:link,
.nav-btn:visited {
  border: 0.2rem #fff solid;
  padding: 1.3rem 1.95rem;
  border-radius: 30rem;
}
.nav-btn:hover {
  color: #212121;
  background: #fff;
  transition: 0.2s;
}
.contact-btn {
  background: transparent;
  border: 0.2rem #fff solid;
  padding: 1rem 1.5rem;
  border-radius: 30rem;
  color: #fff;
  font-family: "proxima nova", sans-serif;
  height: min-content;
}
.contact-main {
  width: 100%;
  height: 99.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 26rem;
  width: 100%;
  background: #212121;
  display: flex;
  justify-content: center;
}
.footer-inner {
  letter-spacing: 0.2rem;
  width: 102rem;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
  padding: 6.4rem 20rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  font-family: "proxima nova", sans-serif;
  line-height: 3.6rem;
}
.footer-inner span {
  color: rgba(255, 255, 255, 0.4);
  font-family: "EB Garamond", serif;
  line-height: 7rem;
}
.contact-container {
  display: flex;
  gap: 3rem;
  width: 95.6rem;
  height: 82.4rem;
  font-size: 2.1rem;
  color: rgba(26, 26, 26, 0.7);
  font-family: "EB Garamond", serif;
}
.contact-us {
  width: 58rem;
}
.contact-us-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 54.4rem;
  align-items: end;
  column-gap: 2rem;
  row-gap: 2rem;
}
.contact-us h1 {
  margin-bottom: 9rem;
  color: rgba(26, 26, 26, 0.9);
  font-weight: 400;
  font-size: 3.2rem;
  font-family: "EB Garamond", serif;
}
.cell {
  width: 100%;
}
.cell p {
  margin-bottom: 1rem;
}
.cell span {
  font-size: 1.2rem;
  opacity: 0.7;
}
.cell:nth-child(5) {
  height: 15rem;
}
.cell:nth-child(5) input {
  height: inherit;
  padding: 1rem 1rem 11rem 1rem;
}
.cell input {
  width: 100%;
  height: 4.8rem;
  border: 1px solid #a9a9a9;
  background-color: #fafafa;
  padding: 1rem;
  font-size: 2.1rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  color: rgba(26, 26, 26, 0.9);
}
.our-office h3 {
  font-family: "proxima nova", sans-serif;
  color: rgba(26, 26, 26, 0.9);
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.our-office {
  line-height: 3rem;
}
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5) {
  grid-column: 1/-1;
}
.first-name {
  position: relative;
}
.first-name:after {
  content: "First Name";
  position: absolute;
  left: 0;
  margin-top: -1.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  color: rgba(26, 26, 26, 0.7);
}
.pushin-p {
  margin-bottom: 3rem !important;
}
.last-name::before {
  content: "Last Name";
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  color: rgba(26, 26, 26, 0.7);
}
.submit {
  font-family: "proxima nova", sans-serif;
  padding: 2.1rem 5.25rem;
  margin-top: 6rem;
  letter-spacing: 0.3rem;
  font-size: 2.1rem;
  cursor: pointer;
  color: #fff;
  border: #1a1a1a;
  font-weight: 300;
  background-color: #1a1a1a;
}
.submit:hover {
  opacity: 0.8;
  transition: 0.2s;
}
.follow-us {
  margin-top: 4rem;
  font-family: "EB Garamond", serif;
  font-size: 2.1rem;
  font-weight: 400;
  color: rgba(26, 26, 26, 0.7);
}
/*INDEX*/
.index-header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/bgimg.png) center;
  width: 100%;
  height: 61.9rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.index-header h1 {
  font-size: 6.8rem;
  color: #fff;
  font-weight: 700;
  font-family: "proxima nova", sans-serif;
  text-transform: uppercase;
}
.index-header h3 {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #fff;
}
.index-nav {
  position: absolute;
  background: transparent;
}
.logo-flex {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10rem auto 15rem;
}
.logo-flex img {
  object-fit: contain;
  height: 11rem;
}
.index-yap {
  text-align: center;
  margin-bottom: 7rem;
}
.index-yap h3 {
  font-family: "proxima nova", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #4a4a4a;
}
.index-yap p {
  font-family: "EB Garamond", serif;
  font-size: 2.1rem;
  color: rgba(26, 26, 26, 0.7);
  padding: 5rem 8rem;
  line-height: 3.2rem;
}
.index-flex-1,
.index-flex-2 {
  display: flex;
  gap: 4rem;
  margin-bottom: 13rem;
}
.index-flex-1 img,
.index-flex-2 img {
  width: 100%;
  object-fit: contain;
}
.img-container {
  width: 50%;
}
.index-flex-yap-1,
.index-flex-yap-2 {
  width: 50%;
  text-align: center;
  padding: 4rem;
}
.index-flex-yap-1 h4,
.index-flex-yap-2 h4 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #bdbdbd;
  font-family: "proxima nova", sans-serif;
  text-transform: uppercase;
  padding-bottom: 3rem;
}
.index-flex-yap-1 p,
.index-flex-yap-2 p {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.68);
  font-size: 2rem;
  line-height: 3.4rem;
}
/* ABOUT US */
.about-header {
  width: 100%;
  height: 50.7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/bgimg2.png) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-header h1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  font-family: "proxima nova", sans-serif;
  font-size: 6.8rem;
}
.about-h3 {
  text-transform: uppercase;
  color: #4a4a4a;
  margin: 10rem 0 4rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: "proxima nova", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
.about-yap {
  display: flex;
  font-size: 2.1rem;
  line-height: 2.5rem;
  color: rgba(26, 26, 26, 0.7);
  font-weight: 400;
  font-family: "EB Garamond", serif;
  margin-bottom: 4rem;
  gap: 4rem;
}
.about-yap-1,
.about-yap-2 {
  width: 50%;
}
.about-img img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
}
.about-img {
  margin-bottom: 6rem;
}
.quote {
  text-align: center;
  border-top: rgba(26, 26, 26, 0.15) 0.1rem solid;
  border-bottom: rgba(26, 26, 26, 0.15) 0.1rem solid;
  padding: 5rem;
  margin: 6rem auto;
}
.quote span {
  font-size: 6.4rem;
  color: rgba(26, 26, 26, 0.9);
  opacity: 0.5;
}
.quote p {
  color: rgba(26, 26, 26, 0.9);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  margin: 0 auto 3rem;
}
.quote-name {
  color: rgba(26, 26, 26, 0.9) !important;
  opacity: 0.5;
  font-size: 1.4rem;
}
.about-flex {
  display: flex;
  gap: 4rem;
  margin-bottom: 17rem;
}
.about-flex-img,
.about-flex-yap {
  width: 50%;
  text-align: center;
}
.about-flex-img img {
  width: 100%;
  object-fit: cover;
  height: 30rem;
}
.about-flex-yap {
  padding: 1rem;
  display: flex;
  gap: 2.1rem;
  flex-direction: column;
}
.about-flex-yap h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "proxima nova", sans-serif;
  letter-spacing: 0.3rem;
  color: #4a4a4a;
}
.about-flex-yap p {
  color: rgba(26, 26, 26, 0.7);
  font-size: 2.1rem;
  font-weight: 400;
  font-family: "EB Garamond", serif;
  line-height: 3rem;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }
  .logo-flex,
  .index-flex-1,
  .index-flex-2,
  .index-yap,
  .index-flex-yap-1,
  .index-flex-yap-2 {
    margin: 0 auto;
    padding: 0;
  }
  .logo-flex,
  .index-yap {
    margin: 3rem auto;
  }
  .img-container,
  .about-flex-img {
    display: flex;
    justify-content: center;
  }
  .about-flex-img {
    height: 100%;
  }
  .about-flex {
    height: fit-content;
  }
  .about-flex {
    margin-bottom: 7rem;
  }
  .footer-inner {
    width: 80%;
    padding: 0;
    padding-top: 5rem;
  }
  .index-header h1 {
    font-size: 5rem;
  }
  .index-header {
    height: 60vh;
  }
  .index-flex-2 {
    margin-bottom: 3rem;
  }
  .index-flex-1 {
    margin-bottom: 3rem;
  }
  .about-h3 {
    margin-top: 4rem;
  }
  .about-header {
    height: 60vh;
  }
  .about-img img {
    height: 100%;
  }
  .about-img {
    height: 30rem;
  }
  .contact-main {
    height: auto;
    margin: 5rem auto;
  }
  .contact-container {
    height: auto;
  }
  .contact-us h1 {
    margin-bottom: 4rem;
  }
  .contact-us-grid {
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .nav-menu-btn {
    display: block;
    visibility: visible;
    pointer-events: all;
  }
  .mobile-navigation-buttons {
    display: block;
    visibility: visible;
    pointer-events: all;
  }
  .nav-nav {
    display: none;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 110vh;
    width: 100vw;
    padding-top: 13rem;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background: rgba(33, 33, 33, 0.7);
    touch-action: none;
    transition: all 0.25s ease-in;
    backdrop-filter: blur(10px);
    z-index: 4;
  }
  .display .nav-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .display .close-menu-btn {
    display: block;
    visibility: visible;
    pointer-events: all;
    z-index: 4;
  }
  .display .nav-menu-btn {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .logo-flex img {
    height: 8rem;
  }
}
@media only screen and (max-width: 700px) {
  .index-flex-1,
  .index-flex-2,
  .about-flex,
  .about-yap,
  .contact-container {
    flex-direction: column;
  }

  .index-flex-yap-1,
  .index-flex-yap-2,
  .img-container,
  .about-flex-img,
  .about-flex-yap,
  .about-yap-1,
  .about-yap-2 {
    width: 100%;
  }
  .logo-flex img {
    height: 7rem;
  }

  .index-yap p {
    padding: 0;
  }
  .about-flex {
    margin-bottom: 4rem;
  }
  .index-header h1 {
    font-size: 5rem;
  }
  .about-header h1 {
    font-size: 5rem;
  }
  .contact-us {
    width: 100%;
  }
  .contact-us-grid {
    width: 100%;
  }
  .contact-main {
    margin: 4rem auto;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 55%;
  }
  .first-name {
    margin-bottom: -1.5rem;
  }
  .index-header,
  .about-header {
    height: 40vh;
  }

  .about-header h1 {
    font-size: 4rem;
  }
  .about-flex {
    margin-bottom: 3rem;
  }
  .quote {
    padding: 3rem;
    margin: 3rem auto;
  }
  .about-flex-img img {
    height: 20rem;
  }
  .about-img {
    height: 25rem;
  }
  .about-h3,
  .about-flex-yap h3 {
    font-size: 2rem;
  }
  .cell:nth-child(1),
  .cell:nth-child(2) {
    grid-column: 1/-1;
  }
  .contact-main {
    margin: 3rem auto;
  }
  .index-header h1 {
    font-size: 4rem;
  }
  .index-header h3 {
    font-size: 2rem;
  }
  .logo-flex img {
    height: 6rem;
  }
}
